<h1 class="mb-md-3">Add a video you watched</h1>

<%= form_for(@watched_video.with_no_cover, url: admin_watched_videos_path) do |f| %>

  <%= display_form_errors_for @watched_video %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', autofocus: 'true', placeholder: 'Enter the title' %>
  </div>

  <div class="form-group">
    <%= f.label :date_viewed, "Date Viewed" %>
    <%= f.text_field :date_viewed, class: 'form-control', placeholder: 'Enter date (yyyy-mm-dd)' %>
  </div>

  <div class="form-group">
    <%= f.label :link %>
    <%= f.text_field :link, class: 'form-control', placeholder: 'Enter the youtube video URL' %>
  </div>

  <%= f.fields_for :image do |image_form| %>
    <div class="form-group">
      <%= image_form.label :source, "Cover" %>
      <%= image_form.text_field :source, class: 'form-control', placeholder: 'Enter the image URL' %>
    </div>
  <% end %>

  <div>
    <%= f.submit "Add Video", data: { disable_with: "Adding Video..."}, class: 'btn btn-primary mr-md-2' %>
    <%= link_to "Back", admin_watched_videos_path, class: 'btn btn-light'%>
  </div>

<% end %>
