<div class="w-100 my-md-3 py-md-3">

  <h3 class="text-muted my-md-3">List of Projects</h3>

  <%= link_to icon("fas", "plus-circle", "Add New Project"), new_admin_project_path, class: 'btn btn-dark my-md-3' %>

  <% @projects.in_groups_of(3).each do |group| %>

    <div class="row">

      <% group.each do |project| %>

        <% if project %>

          <div class="col-md-4 py-md-4 list-item project">
            <div class="rounded-corners overflow-hidden shadow-sm bg-light mb-md-3">
              <%= image_tag project.image.source, alt: "#{project.name}" %>
            </div>
            <div class="links">
              <div class="row px-md-3">
                <p class="text-muted mb-md-2"><%= project.name %></p>
              </div>
              <div class="row px-md-3">
                <%= link_to "Make Changes", edit_admin_project_path(project), class: 'btn btn-sm btn-outline-secondary mr-md-1' %>
                <%= link_to "Remove", admin_project_path(project), method: :delete, data: { confirm: 'Are you sure you no longer want to share this project?' }, class: 'btn btn-sm btn-outline-danger mx-md-1' %>
              </div>
            </div>
          </div>

        <% end %>

      <% end %>

    </div>

  <% end %>

</div>
