<!-- begin .profile -->
<div class="profile w-100 py-5">

  <!-- begin .container -->
  <div class="container d-flex">

    <div class="w-100 text-right px-md-5 intro">
      <div class="greetings">
        <h3>Hello!</h3>
      </div>
      <h1 class="mb-5">I'm a fullstack engineer based in New York City.</h1>
      <div class="cta mt-3 mb-5">
        <a class="bg-primary btn-lg btn shadow text-white px-4 py-2" href="/contact_me">Contact Me</a>
      </div>
    </div>
    
    <div class="image_container d-none d-sm-none d-md-block">
      <%= image_tag 'profile-image.png', class: 'shadow-sm' %>
    </div>
    <div class="image_backdrop d-none d-md-block"></div>
  
  </div>
  <!--/ end .container -->

</div>
<!--/ end .profile -->

<!-- begin .about -->
<div class="about w-100 my-md-3 py-5">

  <!-- begin .container -->
  <div class="container pb-md-5">

    <div class="col-xl-4 col-md-8">
      <h2 class="mb-5">How I started programming</h3>
    </div>
    <div class="col-md-8">
      <p class="lead mb-4">
        I started to learn front end development at the time when social media was at its infancy and people were able to modify their profile by inserting chunks of CSS into a comment field while editing their profile. I remember being captivated by the complete design overhaul of someone's profile that I began to read the source code (ctrl - u). Shortly after, I was customizing my friend's profiles.
      </p>
      <p class="lead mb-4">
        My first big project was developing a store-front website in PHP with a fully custom content management system and continued working with people who were starting up their businesses who sought out to make their presence on the web. While my strengths are mostly in back-end development, design - specifically UI/UX design - piques my interest.
      </p>
      <p class="lead">
        I have designed and developed static websites, custom CMS's, e-commerce websites, utilized WordPress, and developed APIs using back end technologies like Ruby on Rails and PHP. Some of the soft skills that come natural to me and has helped me in creating solutions for the people I work with are being an active listener, being attentive to detail, and I am really good problem-solver.
      </p>
    </div>

  </div>
  <!--/ end .container -->

</div>
<!--/ end .about -->

<!-- begin .projects -->
<div class="projects w-100 py-md-3 py-5">

  <!-- begin .container -->
  <div class="container pb-md-5">

    <h3 class="text-center mb-5 mb-md-3">Projects</h3>
    <div class="d-md-flex w-100 py-md-3">

    <% @projects.first(3).each do |project| %>

      <%= render partial: 'projects/project', locals: { project: project } %>

    <% end %>

    </div>

    <% if @projects.count > 3 %>

      <div class="w-100 text-right">
        <%= link_to 'See more >> ', projects_path %>
      </div>

    <% end %>

  </div>
  <!--/ end .container -->

</div>
<!--/ end .projects -->

<!-- begin .books -->
<div class="books w-100 py-md-3 py-5">

  <!-- begin .container -->
  <div class="container pb-md-5">

    <h3 class="text-center mb-5 mb-md-3">Books I've Read</h3>
    <div class="d-md-flex w-100 py-md-3">

      <% @books.first(3).each do |book| %>

        <%= render partial: 'books/book', locals: { book: book } %>

      <% end %>

    </div>

    <% if @books.count > 3 %>

      <div class="w-100 text-right">
        <%= link_to 'See more >> ', books_path %>
      </div>

    <% end %>

  </div>
  <!--/ end .container -->

</div>
<!--/ end .books -->

<!-- begin .watched_videos -->
<div class="watched_videos w-100 py-md-3 py-5">

  <!-- begin .container -->
  <div class="container pb-md-5">

    <h3 class="text-center mb-5 mb-md-3">Videos I've recently watched</h3>
    <div class="d-md-flex w-100 py-md-3">

    <% @watched_videos.first(3).each do |video| %>

        <%= render partial: 'watched_videos/watched_video', locals: { video: video } %>

      <% end %>

    </div>

    <% if @watched_videos.count > 3 %>

      <div class="w-100 text-right">
        <%= link_to 'See more >> ', watched_videos_path %>
      </div>

    <% end %>

  </div>
  <!--/ end .container -->

</div>
<!--/ end .watched_videos -->

<!-- begin .skills -->
<div class="skills w-100 pt-md-3 pt-5 pb-5">

  <!-- begin .container -->
  <div class="container pb-5">

    <h3 class="mb-5 mb-md-3">Skills</h3>
    <div class="w-100">
      
      <% @skills.each do |skill| %>
        <span class="skill-item mr-3">
          <%= "#{skill.name_in_dash_case}" %>
        </span>
      <% end %>

    </div>

  </div>
  <!--/ end .container -->

</div>
<!--/ end .skills -->
