<h1>Editing a project</h1>

<%= form_for(@project) do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :date_completed, "Date Completed" %>
    <%= f.text_field :date_completed %>
  </div>

  <div>
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <% if @project.has_image? %>

    <div>
      <%= f.fields_for :image do |image_form| %>
        <%= image_form.label :source, "Cover" %>
        <%= image_form.text_field :source %>
      <% end %>
      <%= image_tag "#{@project.image.source}" %>
    </div>

  <% end %>

  <div>
    <%= f.submit "Apply Changes" %>
  </div>

<% end %>
