<h1>Add a new project</h1>

<%= form_for(@project.with_no_cover) do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :date_completed, "Date Completed" %>
    <%= f.text_field :date_completed %>
  </div>

  <div>
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <%= f.fields_for :image do |image_form| %>
    <div>
      <%= image_form.label :source, "Cover" %>
      <%= image_form.text_field :source %>
    </div>
  <% end %>

  <div>
    <%= f.submit "Add Project" %>
  </div>

<% end %>
