<h1>Edit Book</h1>

<%= form_for(@book_item) do |f| %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :date_read, "Date Read" %>
    <%= f.text_field :date_read %>
  </div>

  <% if @book_item.has_image? %>
    <div>
      <%= f.fields_for :image do |image_form| %>
        <%= image_form.label :source, "Cover" %>
        <%= image_form.text_field :source %>
      <% end %>
      <%= image_tag "#{@book_item.image.source}" %>
    </div>
  <% end %>

  <div>
    <%= f.submit "Update Book" %>
  </div>
<% end %>
