<h1 class="mb-md-3">Edit Book</h1>

<%= form_for(@book_item) do |f| %>

<% if @book_item.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h5 class="alert-heading">There was an error. Fix the <%= pluralize(@book_item.errors.count, "error") %> below before attempting to save.</h5>
      <ul>
        <% @book_item.errors.full_messages.each do |msg| %>

          <li>
            <%= msg %>
          </li>

        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :date_read, "Date Read" %>
    <%= f.text_field :date_read, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :link %>
    <%= f.text_field :link, class: 'form-control' %>
  </div>

  <% if @book_item.has_image? %>
    <div class="form-group">
      <%= f.fields_for :image do |image_form| %>
        <%= image_form.label :source, "Cover" %>
        <%= image_form.text_field :source, class: 'form-control' %>
      <% end %>
      <%= image_tag "#{@book_item.image.source}", class: 'mt-md-3' %>
    </div>
  <% end %>

  <div>
    <%= f.submit "Apply Changes", data: {disable_with: 'Applying changes...'}, class: 'btn btn-primary' %>
  </div>
<% end %>
