<div class="w-100 my-md-3 py-md-3">

  <h3 class="lead text-muted my-md-3">List of books I've read</h3>

  <% if user_signed_in? %>
    
    <%= link_to "Add New Book", new_admin_book_path, class: 'btn btn-outline-dark my-md-3' %>

  <% end %>

  <% @books.in_groups_of(3).each do |group| %>

    <div class="row">

      <% group.each do |book| %>

        <% if book %>

          <div class="col-md-4 py-md-4 list-item book">
            <div class="rounded-corners overflow-hidden shadow-sm bg-light mb-md-3">
              <%= image_tag book.image.source, alt: "#{book.title}" %>
            </div>
            <div class="links">
              <div class="row px-md-3">
                <p class="text-muted mb-md-2"><%= book.title %></p>
              </div>

              <% if user_signed_in? %>
                <div class="row px-md-3">
                  <%= link_to "Make Changes", edit_admin_book_path(book), class: 'btn btn-sm btn-outline-secondary mr-md-1' %>
                  <%= link_to "Remove", admin_book_path(book), method: :delete, data: { confirm: 'I hope you don\'t get rid of books like the way you handle this books list. Are you sure you want to remove this books?'}, class: 'btn btn-sm btn-outline-danger mx-md-1' %>
                </div>
              <% end %>
            </div>
          </div>

        <% end %>

      <% end %>

    </div>

  <% end %>

</div>
