<h1>Edit Watched Video</h2>

<%= form_for(@watched_video) do |f| %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :date_viewed, "Date Viewed" %>
    <%= f.text_field :date_viewed %>
  </div>

  <div>
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <% if @watched_video.has_image? %>
    <div>
      <%= f.fields_for :image do |image_form| %>
        <%= image_form.label :source, "Cover" %>
        <%= image_form.text_field :source %>
      <% end %>
      <%= image_tag "#{@watched_video.image.source}" %>
    </div>
  <% end %>

  <div>
    <%= f.submit "Apply Changes" %>
  </div>

<% end %>
