<!DOCTYPE html>
<html>
  <head>
    <title>Checo Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <!-- begin .container -->
    <div class="container">

      <p><%= notice %></p>

      <%= yield %>

    </div>
    <!--/ end .container -->

    <!-- begin .footer-nav -->
    <%= render 'shared/footer' %>
    <!--/ end .footer-nav -->

  </body>
</html>
