<!DOCTYPE html>
<html>
  <head>
    <title>Full Stack Engineer | NYC | Kelvin Checo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <!-- begin .container -->
    <div class="container">

      <% flash.each do |key, message| %>
        <div class="text-center alert
                    alert-<%= key == 'notice' ? 'primary' : 'warning' %>" role="alert">
            <%= message %>
        </div>
      <% end %>

      <%= yield %>

    </div>
    <!--/ end .container -->

    <!-- begin .footer-nav -->
    <%= render 'shared/footer' %>
    <!--/ end .footer-nav -->

  </body>
</html>
